@tailwind base;
@tailwind components;
@tailwind utilities;

/* small global */
body { background: #f8fafc; }
html {
  text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.backdrop {
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}
